<div class="order-detail-container">

  <div class="order-detail-header">
    <h3>Detalle</h3>
  </div>

  <div class="order-scroller">
    <div class="order-detail">
      <ul class="orderlines">
        <li class="orderline" *ngFor="let orderline of orderlines" >
          <f-orderline cant="{{orderline.getCantidad()}}"
                       desc="{{orderline.getDescripcion()}}"
                       detailID="{{orderline.getDetailID()}}"></f-orderline>
        </li>
      </ul>
    </div>
  </div>

  <div class="order-detail-footer">
    <div class="pay-action">
      <button mat-button primary>Pagar</button>
    </div>
    <div class="order-summary">
      <mat-grid-list cols="4" rowHeight="70px">
        <mat-grid-tile [colspan]="3">
          <div class="total">
            BS: 0.0
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1">
          <div class="trash">
            <img (click)="eliminarPedido()" class="order-delete-button" src="/assets/static/images/trash.svg"/>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>

</div>
