<form [formGroup]="form" novalidate (ngSubmit)="addPollo(form.value)">
  <mat-form-field>
    <input matInput type="number"
           placeholder="Cantidad"
           formControlName="cantidad_porciones">
    <mat-error *ngIf="form.controls['cantidad_porciones'].invalid">
      {{ getErrorCantidad() }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="datetime-local"
           placeholder="Fecha"
           formControlName="fecha">
    <mat-error *ngIf="form.controls['fecha'].invalid">
      {{ getErrorFecha() }}
    </mat-error>
  </mat-form-field>

  <button mat-raised-button
          color="primary"
          [disabled]="!form.valid">
    agregar Pollo
  </button>
</form>
