<div class="">
  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let categoria">{{ categoria.nombre }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="contenido">
      <mat-header-cell *matHeaderCellDef> Contenido </mat-header-cell>
      <mat-cell *matCellDef="let categoria">{{ categoria.contenido }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="opciones">
      <mat-header-cell *matHeaderCellDef>  Opciones</mat-header-cell>
      <mat-cell *matCellDef="let categoria">
        <button (click)="editCategoria(categoria.id)" mat-mini-fab color="primary">
          <mat-icon>mode_edit</mat-icon>
        </button>
        <button (click)="destroyCategoria(categoria.id)" mat-mini-fab color="primary">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
</div>

<form [formGroup]="form" novalidate (ngSubmit)="addCategoria(form.value)">
  <mat-form-field hintLabel="Max 20 caracteres">
    <input matInput type="texto"
           placeholder="Nombre"
           #input maxlength="20"
           formControlName="nombre">
    <mat-hint align="end">{{input.value?.length || 0}}/20</mat-hint>
    <mat-error *ngIf="form.controls['nombre'].invalid">
      {{ getErrorNombre() }}
    </mat-error>
  </mat-form-field>

  <mat-form-field hintLabel="Max 5 caracteres">
    <input matInput type="text"
           placeholder="Contenido"
           #input maxlength="5"
           formControlName="contenido">
    <mat-hint align="end">{{input.value?.length || 0}}/5</mat-hint>
    <mat-error *ngIf="form.controls['contenido'].invalid">
      {{ getErrorContenido() }}
    </mat-error>
  </mat-form-field>

  <button mat-raised-button
          color="primary"
          [disabled]="!form.valid">
    agregar categoria
  </button>
</form>
