.layout-container
    display: flex
    min-height: 100vh

.one
    width: 250px
    flex-shrink: 0

.two
    flex-grow: 1
    display: flex
    flex-direction: column

.three
    height: 150px
    flex-shrink: 0
    display: flex
    flex-direction: column

.four
    flex-grow: 1
    display: flex

.five
    height: 100px

.six
    flex-grow: 1

.seven
    flex-grow: 1

.eight
    flex-shrink: 0
    width: 150px
