<div class="layout-container">
  <div class="one">
    <f-order></f-order>
  </div>
  <div class="two">
    <div class="three">
      <div class="five">
        <two></two>
      </div>
      <div class="six">
        <three (viewEvent)="receiveView($event)"></three>
      </div>
    </div>
    <div class="four">
      <div class="seven">
        <four *ngIf="type!=1" [type]='view'></four>
      </div>
      <div class="eight">
        <f-order-detail></f-order-detail>
      </div>
    </div>
  </div>
</div>
