<div class="layout-container">
  <div class="one">
    <f-order></f-order>
  </div>
  <div class="two">
    <div class="three">
      <div class="five">
        <div>
          two
        </div>
      </div>
      <div class="six">
        <div>
          three
        </div>
      </div>
    </div>
    <div class="four">
      <div class="seven">
        <div>
          four
        </div>
      </div>
      <div class="eight">
        <f-order-detail></f-order-detail>
      </div>
    </div>
  </div>
</div>
