<div class="layout-container">
  <div class="one">
    <f-order></f-order>
  </div>
  <div class="two">
    <div class="three">
      <div class="five">
        <div>
          <two></two>
        </div>
      </div>
      <div class="six">
        <div>
          <three-cajero (viewEvent)="receiveView($event)"></three-cajero>
        </div>
      </div>
    </div>
    <div class="four">
      <div class="seven">
        <div>
          <four-cajero *ngIf="type!=1" [type]='view'></four-cajero>
        </div>
      </div>
      <div class="eight">
        <f-order-detail></f-order-detail>
      </div>
    </div>
  </div>
</div>
